<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctdi.cnos.llm.metadata.dao.PromptCategoryDetailDao">

    <resultMap type="com.ctdi.cnos.llm.beans.meta.prompt.PromptCategoryDetail" id="PromptCategoryDetailMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="dataSetFileId" column="data_set_file_id" jdbcType="VARCHAR"/>
        <result property="questionRole" column="question_role" jdbcType="VARCHAR"/>
        <result property="prompt" column="prompt" jdbcType="VARCHAR"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="param1" column="param1" jdbcType="VARCHAR"/>
        <result property="param2" column="param2" jdbcType="VARCHAR"/>
        <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="modifierId" column="modifier_id" jdbcType="VARCHAR"/>
        <result property="modifyDate" column="modify_date" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="addBatch" parameterType="java.util.List">
        INSERT INTO meta.mm_prompt_category_detail
        (id, data_set_file_id, question_role, prompt, category, param1, param2, creator_id, modifier_id)
        VALUES
        <foreach collection="list" item="item"  separator=",">
            (#{item.id},
            #{item.dataSetFileId},
            #{item.questionRole},
            #{item.prompt},
            #{item.category},
            #{item.param1},
            #{item.param2},
            #{item.creatorId},
            #{item.modifierId})

        </foreach>
    </insert>

</mapper>

