<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctdi.cnos.llm.dao.MmJobLogDao">

    <update id="cleanJobLog">
        truncate table job.mm_job_log
    </update>

    <delete id="cleanJobLogByDays">
        delete from job.mm_job_log
        where create_date &lt; (current_date - interval '1 day' * #{days})
    </delete>
</mapper>